.logo {
  width: 110px;
}

.nav-elements {
  justify-content: flex-end;
  font-family: "Source Code Pro", monospace;
  font-size: x-large;
}

.navbar-collapse {
  text-align: right;
}

.section-header {
  font-family: "Source Code Pro", monospace;
  color: white;
}
